@import 'normalize.css';

:root {
    --primary: #0095f6;
    --text-color: #1c1e21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
