@import 'normalize.css';

:root {
    --sidebar-width-default: 244px;

    --white: #fff;
    --primary: #0095f6;
    --text-color: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
