.account-item {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    width: 100%;

    &:hover {
        background-color: #fafafa;
    }
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 16px;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 12px;
}

.nickname {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.tick {
    margin-left: 4px;
    color: #0099f0;
}

.user-name {
    color: var(--text-color-grey);
    font-size: 14px;
    display: block;
    display: -webkit-box;
    height: 16px * 1.3;
    line-height: 1.3;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color-grey);
    background-color: transparent;
}
