.footer-item {
    color: var(--text-color-grey) !important;
    font-size: 1.2rem;
    margin: 4px 9px;

    &.text-decoration:hover {
        text-decoration: underline !important;
    }
}
